html, body {margin:0;padding:0;height:100%;background-color : #36393f;overflow: hidden;-webkit-app-region: drag;user-select: none;}

.Title
{
    text-align: center;
    font-size : 24px;
    color : white;
    margin: 0;
    padding: 0;
    margin-left : 10px;
}

#Text
{
    width: auto;
    height: 25px;
    float: left;
}

#buttons
{
    float: right;
    width: 75px;
    height: 25px;
    -webkit-app-region: no-drag;
}

#buttons img
{
    float: right;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#buttons img:hover
{
    float: right;
    background-color: #23272A;
}